<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076050273017-i4tp2t2h72v14p2uqid8fibpbr3pfkfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076050273017-i4tp2t2h72v14p2uqid8fibpbr3pfkfn</string>
	<key>API_KEY</key>
	<string>AIzaSyDTuURe56Ab7a8oWBbdIx6wBPv5vZatMJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>1076050273017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examchat</string>
	<key>PROJECT_ID</key>
	<string>examchat-d782d</string>
	<key>STORAGE_BUCKET</key>
	<string>examchat-d782d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076050273017:ios:2ae099766db2933e7b7828</string>
</dict>
</plist>